{% extends "base.html" %}
{% block title %}Impressum · allskyhub{% endblock %}
{% block content %}
<article class="legal stack">
  <h1>Impressum</h1>
  {% include "_draft.html" %}
  <section class="card">
    <h2>Betreiber</h2>
    <p class="todo">TODO: Name bzw. Firma des Betreibers</p>
    <p class="todo">TODO: Anschrift</p>
    <p class="todo">TODO: E-Mail-Adresse und weiterer schneller Kontaktweg</p>
    <p class="todo">TODO: falls zutreffend Registereintrag, Umsatzsteuer-ID, Aufsichtsbehörde</p>
  </section>
  <section class="card">
    <h2>Verantwortlich für den Inhalt</h2>
    <p class="todo">TODO: verantwortliche Person, falls vom Betreiber abweichend</p>
  </section>
  <section class="card">
    <h2>Quelltext</h2>
    <p>allskyhub ist Open Source. Der Quelltext dieses Dienstes steht unter der AGPL-3.0 auf <a href="https://github.com/benhartwich/allskyhub">GitHub</a>.</p>
  </section>
</article>
{% endblock %}
